@import url("normalize.css");
@import url("bootstrap.css");
@import url("font-awesome.css");

.hinh {
	border: 1px solid red;
}

.hinh2 {
	border: 1px solid blue;
}


/*.ul1 li {
	background-color: yellow;
	text-decoration: none;
	list-style: none;
}

.ul2 li {
	background-color: #5e5e5e;
	text-decoration: none;
	list-style: none;
}*/
a:hover {
	text-decoration: none;
	color: #5e5e5e;
}
.ul1 > li {
	background-color: red;
	text-decoration: none;
	list-style: none;

}

.ul1 ul li:first-child{
	background-color: white;
	font-size: 18px;
	font-weight: bold;
}

.ul1 ul li {
	background-color: yellow;
	text-decoration: none;
	list-style: none;
}

.hinhvuong {
	width: 200px;
	height: 200px;
	background-color: yellow;
	position: relative;
	border: 1px solid black;
}

.hinhvuong .hinhvuong1 {
	width: 50px;
	height: 50px;
	background-color: white;
	position: absolute;
	top: 100%;
	right: 0;
	border: 1px solid red;
}


.hinhvuong .hinhvuong2 {
	width: 50px;
	height: 50px;
	background-color: red;
	border: 1px solid white;
	position: absolute;
	bottom: 0;
	right: 0;
}


.hinhvuong:before {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	position: absolute;
	left: 0;
	top: 100%;
	content: "";
	background-color: blue;
}
.hinhvuong:after {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	background-color: pink;
}

.h1-h1 {
	background-color: red;
	display: inline-block;
	border-top: 3px solid black;
}
.cls-span {
	font-size: 32px;
	font-weight: bold;
	background-color: blue;
	border-bottom: 1px solid yellow;
}
