@import url("normalize.css");
@import url("bootstrap.css");
@import url("font-awesome.css");

.header {
	width: 800px;
	height: 90px;
	background-color: red;
	border: 1px solid black;
}

.content {
	width: 800px;
	background-color: yellow;
	position: relative;
}

.content .lsidebar {
	
	background-color: white;
	float: left;
	width: 200px;
	/*position: absolute;
	float: left;*/
}

.content .main-content {
	
	background-color: blue;
	float: left;
	width: 400px;
	/*float: left;
	position: absolute;*/
}
.content .rsidebar {
	
	background-color: #f2f3f4;
	float: left;
	width: 200px;
	/*position: absolute;
	float: left;*/
}

.footer {
	width: 1000px;
	height: 90px;
	background-color: #2e3e3e;
	clear: left;
}

.lsidebar, .main-content, .rsidebar {
	height: 90px;
}